html, body {
    margin: 10;
    padding: 10;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin: auto;
    border: solid 2px black;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}

#gameOverMessage {
    width: 100%;
    padding: 50px 0;
    background-color: lightblue;
    margin-top: 20px;
  }